.card{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: solid 5px black;
    height: 60vh;
    width: 25vw;
    border-radius: 20px;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 20px 2px;
}
.grinder{
    height: 40vh;
}
.btn{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 7vh;
    width: 12.5vw;
    border-radius: 0px 0px 0px 15px; 
    font-size: 30px;
}
.btn1{
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 7vh;
    width: 12.5vw;
    border-radius: 0px 0px 15px 0px; 
    font-size: 30px;
}
.btn:hover{
    background-color: darkgray;
}
.btn1:hover{
    background-color: darkgray;
}
.text{
    font-size: 35px;
}
.btn2{
    font-size: 30px;
    height: 3vh;
    width: 2vw;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 10px;
}
#text1{
    font-size: 30px;
}

